
.productCard,
.productCard img {
  height: fit-content;
  cursor: pointer;
  object-fit: cover;
  width: 200px;
}
.productCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  border: 1px solid rgb(238, 233, 233);
  padding: 20px;
  background-color: white;
}

.pc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.PCdetails {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  flex-direction: column;
  align-items: center;
  gap: 17px;
}

.PCprice {
  display: flex;
  gap: 10px;
  width: 7rem;
  justify-content: end;
}

.PCprice1 {
  text-decoration: line-through;
  color: gray;
}

.PCprice2 {
  font-weight: bolder;
  color: #e62e04;
}

.pc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.pcAdd {
 

  background-color: black;
  color: white;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 20px;

  transition: opacity 0.3s ease;
}

.pcAdd:hover {
  opacity: 0.8; /* 80% opacity */
}
