a {
  text-decoration: none;
}
.auction {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}
.auction h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}
.main img {
  border-radius: 0;
  width: 100%;
  line-height: 1.8;

}

.products {

  padding: 25px;
  margin-left: 25px;
}

@media screen and (min-width: 600px) {
  .products {
    display: grid;
  grid-template-columns: 50% 50%;
}

}
.products img {
  width: 370px;
  margin-bottom: 50px;
}

.rice-card .content {
  display: flex;
  padding-top: 10px;
}
.blender-card .content {
  display: flex;
}
.description{
  width: 100%;

  margin: 0 35px;
}
.description .name {
  display: none;
}
.description h2 {
  margin: 10px 0;
  font-size: 14px;
  letter-spacing: 1px;
}
.description .bid {
  color: gray;
  font-weight: 400;
  margin-bottom: -3px;
}
.description span {
  color: #e62e04;
}
.description .bid {
  display: flex;
  flex-direction: column;
}
.description button {
  background-color: #e62e04;
  color: #fff;
  border: none;
  outline: none;
  letter-spacing: 1px;
  padding: 8px 10px;
  font-weight: 400;
  margin: 20px 0;
}
.rice-card {
  transition: 0.2s;
}

.rice-card:hover img {
  transform: scale(1.05);
}
.blender-card:hover img {
  transform: scale(1.1);
}

/* discounts section */


.discount-container {
  margin-top: 20px;
  background-color: #292933;
  height: 310px;
  width: 100%;
  padding-top: 40px;
}
.coupon {
  position: relative;
  padding: 15px 165px;
}
.coupon-content h4 {
  font-size: 36px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 1rem;
}
.coupon-content h5 {
  font-size: 20px;
  font-weight: 400;
  color: grey;
  margin: 30px 0;
}
.coupon-button a {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 28px;
  border: 2px solid #fff;
  font-size: 17px;
  padding: 10px 40px;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.16);
  transition: 0.2s;
  margin-top: 40px;
}
.coupon-button a:hover {
  background-color: #fff;
  color: #333;
  border: none;
}
.coupon-image img {
  position: absolute;
  right: 0;
  bottom: -45px;
  height: 100;
}
@media screen and (min-width: 760px) {
.description .name {
  display: block;
  font-size: 14px;
  font-weight: 400;
}
.products img {
  width: 270px;
  margin-bottom: 50px;
}


  
}
@media screen and (min-width: 900px) {
  .auction-card {
    display: block;
  grid-template-columns: 40% 60%;
}
.auction{
  padding: 0 4rem;
}
.description .name {
  display: block;
  font-size: 15px;
  font-weight: 400;
}
.auction{
  padding: 0 4rem;
}
}


@media screen and (min-width: 1200px) {
  .auction-card {
  display: grid;
  grid-template-columns: 40% 60%;
}
.description .name {
  display: block;
  font-size: 15px;
  font-weight: 400;

}
.auction{
  padding: 0 4rem;
}
}
